---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About - Truly Pawsome">
    <Nav />

    <main>
        <section class="about-section">
            <h1 class="section-text">About</h1>
            <div class="section-body">
                <p>
                    Hi! My name is Kelly and thanks for visiting! I started 
                    Truly Pawsome in 2015 as a subscription based treat/toy box 
                    company inspired by my very first pug Pork Chop. After running 
                    my company on my own for 10 years, I decided that it was 
                    time to move onto something new after a good long run.
                 </p>
                <p>
                  In the meantime, I'm keeping my site up because who knows
                  what's next? 
                </p>
                 <p>
                Pug hugs, <br>
                Kelly, Murray and Diego (the pugs) and of course my forever inspiration, 
                Pork Chop now keeping an eye on us from the Rainbow Bridge. xx
                </p>
                
            </div>
        </section>
    </main>

    <Footer />
</Layout>
