---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import InstagramGrid from "../components/InstagramGrid.astro";
import InstagramLoader from "../components/InstagramLoader.astro";
---

<Layout title="Truly Pawsome">
    <Nav />

    <main>
        <section class="instagram-section">
            <h2 class="section-text">Pug Adventures</h2>
            <div class="section-body">
                <p>
                     Occasional updates from the puggies.
                </p>
       
            </div>
            <InstagramGrid account="murray_pug" count={4} offset={0} />
            <InstagramGrid account="murray_pug" count={4} offset={4} />
        </section>

        <!-- Second section without border -->
        <section class="instagram-section">
            <h2 class="section-text">Archives</h2>
            <div class="section-body">
                <p>
             Clients and friends with their Truly Pawsome boxes.
                </p>
    
            </div>
            <InstagramGrid account="trulypawsome" count={4} offset={0} />
            <InstagramGrid account="trulypawsome" count={4} offset={4} />
        </section>
    </main>

    <InstagramLoader />
    <Footer />
</Layout>
