---
interface Props {
  account: string;
  count: number;
  offset: number;
  bordered?: boolean;
}

const { account, count, offset, bordered = false } = Astro.props;
---

<div class:list={["instagram-grid", { bordered }]}>
  {Array.from({ length: count }, (_, i) => (
    <div
      class="insta-item"
      data-account={account}
      data-offset={offset}
      data-index={i}
    />
  ))}
</div>
