---
interface Props {
  account: string;
  count: number;
  offset: number;
}

const { account, count, offset } = Astro.props;
---

<div class="instagram-grid">
  {Array.from({ length: count }, (_, i) => (
    <div
      class="insta-item"
      data-account={account}
      data-offset={offset}
      data-index={i}
    />
  ))}
</div>
